@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-size: 12px;
  }
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}